<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Consultation - Insert Nurses</title>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a id="search" href="/search_clients">Search Client</a></li>
            <li><a id="register" href="/new_client">Register Client</a></li>
            <li><a id="doctor" href="/available_doctors">Check Availability</a></li>
            <li><a id="dashboard" href="/">Dashboard</a></li>
        </ul>
    </nav> 

    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
    
    <h1>New Consultation - Insert Nurses</h1>

    <form method="post" action="{{ url_for('new_consultation_nurse', vat_doctor=vat_doctor, consultation_date=consultation_date) }}">
        <label for="nurse_vat">Available Nurses to insert:</label>
        <select name="nurse_vat" id="nurse_vat">
            {% for nurse in nurses %}
                <option value="{{ nurse.VAT }}">{{ nurse.name }} ({{ nurse.vat }})</option>
            {% endfor %}
        </select>

        <p><label>Nurse VAT</label></p> 
        <input type="text" name="input_nurse_vat" placeholder="input_nurse_vat">        
        <input type="submit" value="Register Nurse">
    </form>

    <a href="{{ url_for('new_consultation_diagnostic', vat_doctor=vat_doctor, consultation_date=consultation_date) }}">
    <button> Insert prescription </button>
    </a>

</body>
</html>